html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

.form-control:focus {
    border-color: black !important;
    box-shadow: none !important;
}

.form-control
{
    border-color: black;
}

body {
  margin-bottom: 60px;
}

#header2_index_excersise {
    text-align: center;
    margin-top: 20px;
}

#all_ex_button
{
    font-size: 20px;
}

#size_btn_index_excersise {
    font-size: 20px;
}

.col
{
    top: 50%;
    transform: translate(0, 20%);
    width: 60%;
    font-size: 25px;
}

.list-unstyled {
    top: 50%;
    transform: translate(0, 50%);
}

#btn_excersise
{
    margin-top: 160px;
}

#btn_excersise:hover
{
    color:white;
    background-color:orange;
}

#size_btn_index_excersise:hover 
{
    color: white;
    background-color: orange;
}

.dropdown-item:focus,
.dropdown-item:active {
    background-color: orange !important;
    text-color
}

#all_ex_button:focus
{
    outline: none !important;
    box-shadow: none !important;
}
#all_ex_button:hover
{
    color: black;
    background-color: white;
}

#card_place_train {
    width: 30%;
    height: 320px
}

.three_btns_exc
{
    width:100%;
}

#btn_kalories_count
{
    width:50%;
    font-size: 17px;
}

#btn_kalories_count:hover
{
    color: white;
    background-color: orange;
}

#result_kalor
{
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 50px;
}









