@using FitnessEveryone.Data.Enum;
@using FitnessEveryone.ViewModels;
@model EditExerciseViewModel

<form method="post" asp-action="Edit" style="margin-top: 20px" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Title">Title</label>
        <input asp-for="Title" class="form-control" placeholder="Title">
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description">Description</label>
        <input asp-for="Description" class="form-control" placeholder="Description">
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    @* USING ENUM *@
    <div class="form-group">
        <label asp-for="LocationCategory">Club Category</label>
        <select asp-for="LocationCategory" asp-items="@Html.GetEnumSelectList<LocationCategory>()" class="form-control">
            <option selected="selected" value="">--Select--</option>
        </select>
        <span asp-validation-for="LocationCategory" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BodyPartCategory">BodyPart</label>
        <select asp-for="BodyPartCategory" asp-items="@Html.GetEnumSelectList<BodyPartCategory>()" class="form-control">
            <option>--Select--</option>
        </select>
        <span asp-validation-for="BodyPartCategory" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DificultyCategory">Dificulty</label>
        <select asp-for="DificultyCategory" asp-items="@Html.GetEnumSelectList<DificultyCategory>()" class="form-control">
            <option>--Select--</option>
        </select>
        <span asp-validation-for="DificultyCategory" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="QuantitySets">QuantitySets</label>
        <input asp-for="QuantitySets" class="form-control" placeholder="QuantitySets">
        <span asp-validation-for="QuantitySets" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="QuantityReps">QuantityReps</label>
        <input asp-for="QuantityReps" class="form-control" placeholder="QuantityReps">
        <span asp-validation-for="QuantityReps" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Image">ImageTraining</label>
        <input asp-for="Image" type="file" class="form-control" placeholder="ImageTraining">
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>
    <button type="submit" style="font-size: 17px; width: 10%" class="btn btn-outline-success mt-2">Submit</button>
</form>