<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FitnessEveryone</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FitnessEveryone.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-toggleable-sm navbar-dark bg-dark" aria-label="Fifth navbar example">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Exercise" asp-action="Index">FitnessEveryone</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarsExample05">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
@*                         <li class="nav-item">
                            <a class="nav-link active" aria-current="page" asp-controller="Home" asp-action="Index">Home</a>
                        </li> *@
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" asp-controller="Exercise" asp-action="Index">Workout Program</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Calculator
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="Calculation" asp-action="SNK">DNR (Daily Norm of Calories)</a></li>
                                <li><a class="dropdown-item" asp-controller="Calculation" asp-action="BJU">PFC (Proteins/Fats/Carbohydrates)</a></li>
                                <li><a class="dropdown-item" asp-controller="Calculation" asp-action="IMT">BMI (Body Mass Index)</a></li>
                                <li><a class="dropdown-item" asp-controller="Calculation" asp-action="MCHS">MHR (Maximum Heart Rate)</a></li>
                                <li><a class="dropdown-item" asp-controller="Calculation" asp-action="PZT">THR (Target Heart Rate)</a></li>
                                <li><a class="dropdown-item" asp-controller="Calculation" asp-action="KOV">BMR (Basal Metabolic Rate)</a></li>
                            </ul>
                        </li>
                        @if (User.IsInRole("admin"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Admin Panel
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" asp-controller="Exercise" asp-action="AllExercise">List Exercises</a></li>
                                    <li><a class="dropdown-item" asp-controller="Exercise" asp-action="Create">Create Exercise</a></li>
                                </ul>
                            </li>
                        }
                    </ul>
                    <div class="d-flex">
                        <ul class="navbar-nav">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li class="nav-item">
                                    <form asp-area="" asp-controller="Account" asp-action="Logout">
                                        <button class="btn btn-outline-danger">Logout</button>
                                    </form>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link active" style="border: 1px solid white" aria-current="page" asp-controller="Account" asp-action="Login">Sign In</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" style="border: 1px solid white" aria-current="page" asp-controller="Account" asp-action="Register">Registration</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>



            </div>
        </nav>


    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - FitnessEveryone - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

